
<%= render 'shared/nav' %>
<div class="jumbotron bg-transparent pt-2">
<div class= "d-flex my-4 py-4 ">
    <%= image_tag(language.icon, class: "rounded-circle align-self-center", size: 100)  %>
    <div class="d-flex ml-3 flex-column">
    <h1 class="display-3 text-white animate__animated animate__bounceInDown"> <%= language.name  %> Programming </h1>
    <p class="text-white"><strong>Total Frameworks: <%= frameworks.count  %>  </strong></p>
    <p class="text-white"><strong>Total Hours: <%= frameworks.sum(:total_hours) %> </strong></p>
    </div>
    </div>
    <p class="lead">
        <%= link_to "Add a new Frame/Lib" , framework_new_path(language.id)  ,class: "btn btn-success" %>
    </p>
     <hr class="my-2 border-white ">
</div>

<div class="container bg-transparent ">
    <%= render 'shared/sub_nav2' %>

    <% frameworks.with_attached_icon.each do |lang| %>

    <%= link_to(index_frameworks_path(lang)) do %>
    <div class=" col-12 bg-light d-flex rounded  my-4 mx-auto " >
    <%= image_tag(lang.icon, class: "rounded-circle align-self-center", size: 50 ) %>
      <div class="d-flex flex-column ml-4 mt-3 w-50">
        <h4 class="text-warning"> <%= lang.name %></h4>
        <div class="d-flex">
        <p class=" text-muted">Hours spent : <strong class="text-center"> <%= lang.total_hours %>  </strong> </p>
        <p class=" text-muted ml-2">Description :<strong class="text-center"> <%= lang.total_frameworks %> </strong> </p>
        </div>
      </div>
      <div class="w-50 d-flex justify-content-end ">
        <p class="text-muted align-self-end">  <%= lang.created_at %></p>
        </div>
    </div>
  <%end%>
    
    


<%end %>
    
</div>

