
<%= render 'shared/nav' %>
<div class="jumbotron bg-transparent">
    <h1 class="display-3 text-white">Languages</h1>
    <h5 class=" text-white my-3 mb-4" >Total Languages:  <%= num_languages(current_user) %> </h5>
    <hr class="my-2 border-white ">
    <p class="lead">
        <%= link_to "Add a new Language" , languages_new_path ,class: "btn btn-success" %>
    </p>
</div>

<div class="container bg-transparent ">
    <%= render 'shared/sub_nav' %>
    <% languages.each do |lang| %>
    <%= link_to(index_frameworks_path(lang)) do %>
    <div class=" col-12 bg-light d-flex rounded  my-4 mx-auto " >
    <%= image_tag(lang.icon, class: "rounded-circle align-self-center", size: 50 ) %>
      <div class="d-flex flex-column ml-4 mt-3 w-50">
        <h4 class="text-warning"> <%= lang.name %></h4>
        <div class="d-flex">
        <p class=" text-muted">Hours spent  : <strong class="text-center"> <%= language_sum_hours_frameworks(lang) %>  </strong> </p>
        <p class=" text-muted ml-2">Total Frame/Libs :<strong class="text-center"> <%= lang_frameworks_count(lang) %> </strong> </p>
        </div>
      </div>
      <div class="w-50 d-flex justify-content-end ">
        <p class="text-muted align-self-end">  <%= lang.created_at %></p>
        </div>
    </div>
  <%end%>
<%end %>
    
</div>

