<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :application %>
    <%= stylesheet_pack_tag 'stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
   

 <div id='mydiv' style='display:none'>
   TEST
 </div>

   <script type='text/javascript'>
   $('#mydiv').show();
 </script>

  </body>

  
</html>
